form {
  width: 50%;
  margin: 10rem auto 0;

  border: 1px solid #000;
  border-radius: 5px;

  padding: 1rem 2rem;

  section {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;

    label {
      width: 30%;
      text-align: right;
      padding-right: 1rem;
    }

    input {
      width: 70%;
    }

    &.actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        cursor: pointer;
      }
    }
  }
}
