header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;

  nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      margin: 0.5rem 1rem;
    }
  }
}
